.disclaimer-wrapper{
    // background-color: #eaebf8;
    // text-align: left;
    // padding-left: 10px;
    font-family: sans-serif;
    background-color: white;
    width: 80%;
    align-content: center;
}