.login-footer-wrapper {
  position: fixed;
  bottom: 0;
  background-color: #534891;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  left: 0; 
  width: 100%; 
  color: #fff;
  text-align: center; 
  padding: 1px; 
}
